<!DOCTYPE html>
<html lang="en">
{% include 'blocks/head.twig' %}

<body class="index-page">
    {% include 'blocks/navbar.twig' %}
    <div class="wrapper">
        <div class="main">
            <p>the actual content, such as shopping page</p>
        </div>

    </div>
    {% include 'blocks/footer.twig' %}
    {% include 'blocks/scripts.twig' %}
</body>

</html>